<%= simple_form_for(@famille) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nom %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :dossier_id, :label => "Numéro de dossier" %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :statut %>
  </div>

  <div class="form-actions">
    <%= f.submit "Sauvegarder" %>
  </div>
<% end %>
