<h1>Détails de famille</h1>

<p id="notice"><%= notice %></p>
<p>
  <strong>Nom:</strong>
  <%= @famille.nom %>
</p>

<p>
  <strong>Numéro de dossier:</strong>
  <%= @famille.dossier_id %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @famille.statut %>
</p>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Intervenant</th>
      <th>Date de création</th>
   </tr>
  </thead>

  <tbody>
	<h3>Liste de notes</h3>
    <% @famille.notes.each do |note| %>
      <tr>
        <td><%= note.texte %></td>
        <% if (!note.users_id.nil?) %>
          <td><%= User.find(note.users_id).name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= note.dateCreation %></td>
        <td><%= link_to 'Modifier', edit_note_path(note) %></td>
        <td><%= button_to 'Supprimer', note, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= simple_form_for(Note.new) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.hidden_field :famille_id, :value => @famille.id %>
    <% if !@user.nil? %>
      <%= f.hidden_field :users_id, :value => @user.id %>
    <% end %>
    <%= f.input :texte, :label => "Note" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Ajouter une note" %>
  </div>
<% end %>

<%= link_to 'Modifier', edit_famille_path(@famille) %> |
<%= link_to 'Retour à la liste des familles', familles_path %>
