<p id="notice"><%= notice %></p>
<p>
  <strong>Texte:</strong>
  <%= @note.texte %>
</p>

<p>
  <strong>Createur:</strong>
  <%= @note.createur %>
</p>

<p>
  <strong>Datecreation:</strong>
  <%= @note.dateCreation %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
