<%= simple_form_for(@vs_demande) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :motif_pv %>
    <%= f.input :motivations_pv %>
    <%= f.input :interdit_contact_pv %>
    <%= f.input :date_separation_pv %>
    <%= f.input :contact_enfant_pv %>
    <%= f.input :contact_telephone_enfant_pv %>
    <%= f.input :attitude_parent_pv %>
	<% if !@vs_demande.demande_id.nil? %>
	  <%= f.hidden_field :demande_id %>
	<% else %>
	  <%= f.input :demande_id %>
	<% end %>
    <%= f.input :motif_pg %>
    <%= f.input :date_separation_pg %>
    <%= f.input :date_dernier_contact_pg %>
    <%= f.input :dernier_contact_deroulement_pg %>
    <%= f.input :contact_telephone_enfant_pg %>
    <%= f.input :autorisation_accompagnement_pg %>
    <%= f.input :personnes_autorisees_pg %>
    <%= f.input :attitude_parent_pg %>
    <%= f.input :jeux_favoris_pg %>
    <%= f.input :gout_alimentaire_pg %>
    <%= f.input :enfant_sait_visite_pg %>
    <%= f.input :reaction_visite_pg %>
    <%= f.input :attitude_enfant_pg %>
    <%= f.input :autre_pg %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
