<p id="notice"><%= notice %></p>

<p>
  <strong>Motif pv:</strong>
  <%= @vs_demande.motif_pv %>
</p>

<p>
  <strong>Motivations pv:</strong>
  <%= @vs_demande.motivations_pv %>
</p>

<p>
  <strong>Interdit contact pv:</strong>
  <%= @vs_demande.interdit_contact_pv %>
</p>

<p>
  <strong>Date separation pv:</strong>
  <%= @vs_demande.date_separation_pv %>
</p>

<p>
  <strong>Contact enfant pv:</strong>
  <%= @vs_demande.contact_enfant_pv %>
</p>

<p>
  <strong>Contact telephone enfant pv:</strong>
  <%= @vs_demande.contact_telephone_enfant_pv %>
</p>

<p>
  <strong>Attitude parent pv:</strong>
  <%= @vs_demande.attitude_parent_pv %>
</p>

<p>
  <strong>Demande:</strong>
  <%= @vs_demande.demande_id %>
</p>

<p>
  <strong>Motif pg:</strong>
  <%= @vs_demande.motif_pg %>
</p>

<p>
  <strong>Date separation pg:</strong>
  <%= @vs_demande.date_separation_pg %>
</p>

<p>
  <strong>Date dernier contact pg:</strong>
  <%= @vs_demande.date_dernier_contact_pg %>
</p>

<p>
  <strong>Dernier contact deroulement pg:</strong>
  <%= @vs_demande.dernier_contact_deroulement_pg %>
</p>

<p>
  <strong>Contact telephone enfant pg:</strong>
  <%= @vs_demande.contact_telephone_enfant_pg %>
</p>

<p>
  <strong>Autorisation accompagnement pg:</strong>
  <%= @vs_demande.autorisation_accompagnement_pg %>
</p>

<p>
  <strong>Personnes autorisees pg:</strong>
  <%= @vs_demande.personnes_autorisees_pg %>
</p>

<p>
  <strong>Attitude parent pg:</strong>
  <%= @vs_demande.attitude_parent_pg %>
</p>

<p>
  <strong>Jeux favoris pg:</strong>
  <%= @vs_demande.jeux_favoris_pg %>
</p>

<p>
  <strong>Gout alimentaire pg:</strong>
  <%= @vs_demande.gout_alimentaire_pg %>
</p>

<p>
  <strong>Enfant sait visite pg:</strong>
  <%= @vs_demande.enfant_sait_visite_pg %>
</p>

<p>
  <strong>Reaction visite pg:</strong>
  <%= @vs_demande.reaction_visite_pg %>
</p>

<p>
  <strong>Attitude enfant pg:</strong>
  <%= @vs_demande.attitude_enfant_pg %>
</p>

<p>
  <strong>Autre pg:</strong>
  <%= @vs_demande.autre_pg %>
</p>

<%= link_to 'Edit', edit_vs_demande_path(@vs_demande) %> |
<%= link_to 'Retour à la demande', demande_path(@vs_demande.demande_id) %>
