<%= form_for(enfant) do |f| %>
  <% if enfant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enfant.errors.count, "error") %> prohibited this enfant from being saved:</h2>

      <ul>
      <% enfant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  </div>
  <div class="field">
    <%= f.label :date_naissance %>
    <%= f.date_field :date_naissance %>
  </div>

  <div class="field">
    <%= f.label :residence %>
    <%= f.text_field :residence %>
  </div>

  <div class="field">
    <%= f.label :nom %>
    <%= f.text_field :nom %>
  </div>
  
  <div class="field">
    <%= f.label :allergies %>
    <%= f.text_field :allergies %>
  </div>
  
  <div class="field">
    <%= f.label :personnes_auth %>
    <%= f.text_field :personnes_auth %>
  </div>
  
  <div class="field">
    <%= f.label :renseignements %>
    <%= f.text_field :renseignements %>
  </div>
  
  <div class="field">
    <%= f.label :no_RAMQ %>
    <%= f.text_field :no_RAMQ %>
  </div>
  
  <%= f.hidden_field :demande_id, :value => params[:demande_id] %>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
