<%= simple_form_for(@enfant) do |f| %>

<div class="form-inputs">

    <%= f.input :date_naissance, :label => "Date de naissance" %>

    <%= f.input :residence, :label => "Résidence" %>

    <%= f.input :nom %>
  
    <%= f.input :allergies %>
  
    <%= f.input :personnes_auth, :label => "Personnes autorisées à reconduire l'enfant" %>
  
    <%= f.input :renseignements %>

    <%= f.input :no_RAMQ, :label => "No RAMQ" %>
  
  <% if !@enfant.demande_id.nil? %>
    <%= f.hidden_field :demande_id %>
  <% else %>
    <%= f.input :demande_id %>
  <% end %>

  <div class="form-actions">
    <%= f.submit "Sauvegarder" %>
  </div>
<% end %>
