<p id="notice"><%= notice %></p>

<h1>Enfants</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Age</th>
      <th>Residence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enfants.each do |enfant| %>
      <tr>
        <td><%= enfant.nom %></td>
        <td><%= enfant.date_naissance %></td>
        <td><%= enfant.residence %></td>
        <td><%= link_to 'Show', enfant %></td>
        <td><%= link_to 'Edit', edit_enfant_path(enfant) %></td>
        <td><%= button_to 'Destroy', enfant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
