<h1>Détails d'enfant</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @enfant.nom %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @enfant.date_naissance %>
</p>

<p>
  <strong>Référents:</strong> <br>
  <%= link_to "Ajouter un référent", "http://hidden-basin-94586.herokuapp.com/referents/" %>
</p>

<p>
  <strong>Résidence:</strong>
  <%= @enfant.residence %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @enfant.allergies %>
</p>

<p>
  <strong>Personnes autorisées à reconduire l'enfant:</strong>
  <%= @enfant.personnes_auth %>
</p>

<p>
  <strong>Renseignements:</strong>
  <%= @enfant.renseignements %>
</p>

<p>
  <strong>No RAMQ:</strong>
  <%= @enfant.no_RAMQ %>
</p>

<%= link_to 'Modifier', edit_enfant_path(@enfant) %> |
<%= link_to 'Retour à la demande', demande_path(@enfant.demande_id) %>
