<p id="notice"><%= notice %></p>


<p>
  <strong>Nom:</strong>
  <%= @enfant.nom %>
</p>

<p>
  <strong>Age:</strong>
  <%= @enfant.date_naissance %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @enfant.residence %>
</p>

<p>
  <strong>allergies:</strong>
  <%= @enfant.allergies %>
</p>

<p>
  <strong>personnes_auth:</strong>
  <%= @enfant.personnes_auth %>
</p>

<p>
  <strong>renseignements:</strong>
  <%= @enfant.renseignements %>
</p>

<p>
  <strong>no_RAMQ:</strong>
  <%= @enfant.no_RAMQ %>
</p>

<%= link_to 'Edit', edit_enfant_path(@enfant) %> |
<%= link_to 'Retour à la demande', demande_path(@enfant.demande_id) %>
<!--<%= link_to 'Back', enfants_path %>-->