<p id="notice"><%= notice %></p>

<h1>Listing Parentinfos</h1>

<table>
  <thead>
    <tr>
      <th>Courriel</th>
      <th>Numero tel</th>
      <th>Nocivique</th>
      <th>Rue</th>
      <th>Appartement</th>
      <th>Ville</th>
      <th>Code postal</th>
      <th>Province</th>
      <th>Nom urgence</th>
      <th>Numero urgence</th>
      <th>Note</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parentinfos.each do |parentinfo| %>
      <tr>
        <td><%= parentinfo.courriel %></td>
        <td><%= parentinfo.telephone_res %></td>
        <td><%= parentinfo.nocivique %></td>
        <td><%= parentinfo.rue %></td>
        <td><%= parentinfo.appartement %></td>
        <td><%= parentinfo.ville %></td>
        <td><%= parentinfo.code_postal %></td>
        <td><%= parentinfo.province %></td>
        <td><%= parentinfo.nom_urgence %></td>
        <td><%= parentinfo.numero_urgence %></td>
        <td><%= parentinfo.note %></td>
        <td><%= parentinfo.parent_id %></td>
        <td><%= link_to 'Show', parentinfo %></td>
        <td><%= link_to 'Edit', edit_parentinfo_path(parentinfo) %></td>
        <td><%= button_to 'Destroy', parentinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
