<p id="notice"><%= notice %></p>

<p>
  <strong>Courriel:</strong>
  <%= @parentinfo.courriel %>
</p>

<p>
  <strong>Numero tel:</strong>
  <%= @parentinfo.numero_tel %>
</p>

<p>
  <strong>Nocivique:</strong>
  <%= @parentinfo.nocivique %>
</p>

<p>
  <strong>Rue:</strong>
  <%= @parentinfo.rue %>
</p>

<p>
  <strong>Appartement:</strong>
  <%= @parentinfo.appartement %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @parentinfo.ville %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @parentinfo.code_postal %>
</p>

<p>
  <strong>Province:</strong>
  <%= @parentinfo.province %>
</p>

<p>
  <strong>Nom urgence:</strong>
  <%= @parentinfo.nom_urgence %>
</p>

<p>
  <strong>Numero urgence:</strong>
  <%= @parentinfo.numero_urgence %>
</p>

<p>
  <strong>Note:</strong>
  <%= @parentinfo.note %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @parentinfo.parent_id %>
</p>

<%= link_to 'Edit', edit_parentinfo_path(@parentinfo) %> |
<%= link_to 'Back', parentinfos_path %>
