<%= simple_form_for(@demande_eg) do |f| %>

  <div class="form-inputs">

    <%= f.input :motif, :label => "Motif" %>

    <%= f.input :conditions, :label => "Conditions particulières" %>
	
	<p>Historique familial</p>
	
    <%= f.input :date_separation, :label => "Date de séparation" %>

    <%= f.input :echange_garde, :label => "Échange de garde" %>

    <%= f.input :reactions_eg, :label => "Réactions de l'enfant à l'échange de garde" %>

    <%= f.input :date_dernier_contact, :label => "Date du dernier contact" %>
	
	<%= f.input :deroulement_dernier_contact, :label => "Déroulement du dernier contact" %>

    <%= f.input :description_enfant, :label => "Description de l'enfant" %>

    <%= f.input :contact_pg, :label => "Contact avec parent de l'enfant" %>

    <%= f.input :forme_contact_pg, :label => "Forme du contact" %>
	
	<p>Explication du service, règlements, signature de contrat, coordonnées, etc.</p>
	<p>Planification de l'échange : carte ass. maladie, etc.</p>

    <%= f.input :attitude_parent, :label => "Attitude du parent" %>

    <%= f.input :attitude_enfant, :label => "Attitude de l'enfant" %>

    <%= f.input :a_suivre, :label => "À suivre (jugement, horaire, etc.)" %>

	<% if !@demande_eg.demande_id.nil? %>
	  <%= f.hidden_field :demande_id %>
	<% else %>
	  <%= f.input :demande_id %>
	<% end %>

  </div>

  <div class="form-actions">
    <%= f.submit "Sauvegarder" %>
  </div>
<% end %>
