<h1>Détails de dossier : échange de garde</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Motif:</strong>
  <%= @demande_eg.motif %>
</p>

<p>
  <strong>Conditions particulières:</strong>
  <%= @demande_eg.conditions %>
</p>

<p><strong>Historique familial</strong></p>

<p>
  <strong>Date de separation:</strong>
  <%= @demande_eg.date_separation %>
</p>

<p>
  <strong>Échange de garde:</strong>
  <%= @demande_eg.echange_garde %>
</p>

<p>
  <strong>Réactions de l'enfant à l'échange de garde:</strong>
  <%= @demande_eg.reactions_eg %>
</p>

<p>
  <strong>Date du dernier contact:</strong>
  <%= @demande_eg.date_dernier_contact %>
</p>

<p>
  <strong>Déroulement du dernier contact:</strong>
  <%= @demande_eg.deroulement_dernier_contact %>
</p>

<p>
  <strong>Description de l'enfant:</strong>
  <%= @demande_eg.description_enfant %>
</p>

<p>
  <strong>Contact avec parent de l'enfant:</strong>
  <%= @demande_eg.contact_pg %>
</p>

<p>
  <strong>Forme du contact:</strong>
  <%= @demande_eg.forme_contact_pg %>
</p>

<p>
  <strong>Attitude du parent:</strong>
  <%= @demande_eg.attitude_parent %>
</p>

<p>
  <strong>Attitude de l'enfant:</strong>
  <%= @demande_eg.attitude_enfant %>
</p>

<p>
  <strong>À suivre (jugement, horaire, etc.):</strong>
  <%= @demande_eg.a_suivre %>
</p>

<% if current_user.role_id == 0 || current_user.role_id == 1 %>
	<%= link_to 'Modifier', edit_demande_eg_path(@demande_eg) %>
<% end %>
<%= link_to 'Retour à la demande', demande_path(@demande_eg.demande_id) %>
