<p id="notice"><%= notice %></p>

<p>
  <strong>Motif:</strong>
  <%= @demande_eg.motif %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @demande_eg.conditions %>
</p>

<p>
  <strong>Date separation:</strong>
  <%= @demande_eg.date_separation %>
</p>

<p>
  <strong>Echange garde:</strong>
  <%= @demande_eg.echange_garde %>
</p>

<p>
  <strong>Reactions eg:</strong>
  <%= @demande_eg.reactions_eg %>
</p>

<p>
  <strong>Date dernier contact:</strong>
  <%= @demande_eg.date_dernier_contact %>
</p>

<p>
  <strong>Description enfant:</strong>
  <%= @demande_eg.description_enfant %>
</p>

<p>
  <strong>Contact pg:</strong>
  <%= @demande_eg.contact_pg %>
</p>

<p>
  <strong>Forme contact pg:</strong>
  <%= @demande_eg.forme_contact_pg %>
</p>

<p>
  <strong>Attitude parent:</strong>
  <%= @demande_eg.attitude_parent %>
</p>

<p>
  <strong>Attitude enfant:</strong>
  <%= @demande_eg.attitude_enfant %>
</p>

<p>
  <strong>A suivre:</strong>
  <%= @demande_eg.a_suivre %>
</p>

<p>
  <strong>Demande:</strong>
  <%= @demande_eg.demande_id %>
</p>

<%= link_to 'Edit', edit_demande_eg_path(@demande_eg) %> |
<%= link_to 'Retour à la demande', demande_path(@demande_eg.demande_id) %>
