<h1>Détails de parent</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @parent.nom %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @parent.statut %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @parent.date_naissance %>
</p>

<p>
  <strong>Tarification:</strong>
  <%= @parent.tarification %>
</p>

<p>
  <strong>No permis de conduire:</strong>
  <%= @parent.no_permis_conduire %>
</p>

<p>
  <strong>No RAMQ:</strong>
  <%= @parent.no_RAMQ %>
</p>

<p>
  <strong>Avocat:</strong>
  <%= @parent.avocat %>
</p>
<p>
  <strong>Référents:</strong> <br>
  <%= link_to "Ajouter un référent", "http://hidden-basin-94586.herokuapp.com/referents/" %>
</p>
<p>
  <strong>No téléphone de l'avocat:</strong>
  <%= @parent.avocatTelephone %>
</p>

<!-- Why not? -->
<% @last_parentinfos = @parent.parentinfos.where("created_at = (SELECT MAX(created_at) FROM parentinfos WHERE parent_id = ?)", @parent.id)[0] %>

<% if !@last_parentinfos.nil? %>
	<p>
	  <strong>Courriel:</strong>
	  <%= @last_parentinfos.courriel %>
	</p>

	<p>
	  <strong>No téléphone résidentiel:</strong>
	  <%= @last_parentinfos.telephone_res %>
	</p>

	<p>
	  <strong>No téléphone travail:</strong>
	  <%= @last_parentinfos.telephone_travail %>
	</p>

	<p>
	  <strong>No téléphone cellulaire:</strong>
	  <%= @last_parentinfos.telephone_cell %>
	</p>

	<p>
	  <strong>No civique:</strong>
	  <%= @last_parentinfos.nocivique %>
	</p>

	<p>
	  <strong>Rue:</strong>
	  <%= @last_parentinfos.rue %>
	</p>

	<p>
	  <strong>Appartement:</strong>
	  <%= @last_parentinfos.appartement %>
	</p>

	<p>
	  <strong>Ville:</strong>
	  <%= @last_parentinfos.ville %>
	</p>

	<p>
	  <strong>Code postal:</strong>
	  <%= @last_parentinfos.code_postal %>
	</p>

	<p>
	  <strong>Province:</strong>
	  <%= @last_parentinfos.province %>
	</p>

	<p>
	  <strong>Nom de la personne en cas d'urgence:</strong>
	  <%= @last_parentinfos.nom_urgence %>
	</p>

	<p>
	  <strong>No téléphone de la personne en cas d'urgence:</strong>
	  <%= @last_parentinfos.numero_urgence %>
	</p>

	<p>
	  <strong>Note:</strong>
	  <%= @last_parentinfos.note %>
	</p>
<% end %>

<%= link_to 'Retour à la demande', @parent.demande_id?? demande_path(@parent.demande_id) : demandes_path %>
