<p id="notice"><%= notice %></p>

<h1>Listing Demande Vs</h1>

<table>
  <thead>
    <tr>
      <th>Motif pv</th>
      <th>Motivations pv</th>
      <th>Interdit contact pv</th>
      <th>Date separation pv</th>
      <th>Contact enfant pv</th>
      <th>Contact telephone enfant pv</th>
      <th>Attitude parent pv</th>
      <th>Demande</th>
      <th>Motif pg</th>
      <th>Date separation pg</th>
      <th>Date dernier contact pg</th>
      <th>Dernier contact deroulement pg</th>
      <th>Contact telephone enfant pg</th>
      <th>Autorisation accompagnement pg</th>
      <th>Personnes autorisees pg</th>
      <th>Attitude parent pg</th>
      <th>Jeux favoris pg</th>
      <th>Gout alimentaire pg</th>
      <th>Enfant sais visite pg</th>
      <th>Reaction visite pg</th>
      <th>Attitude enfant pg</th>
      <th>Autres pg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demande_vs.each do |demande_v| %>
      <tr>
        <td><%= demande_v.motif_pv %></td>
        <td><%= demande_v.motivations_pv %></td>
        <td><%= demande_v.interdit_contact_pv %></td>
        <td><%= demande_v.date_separation_pv %></td>
        <td><%= demande_v.contact_enfant_pv %></td>
        <td><%= demande_v.contact_telephone_enfant_pv %></td>
        <td><%= demande_v.attitude_parent_pv %></td>
        <td><%= demande_v.demande_id %></td>
        <td><%= demande_v.motif_pg %></td>
        <td><%= demande_v.date_separation_pg %></td>
        <td><%= demande_v.date_dernier_contact_pg %></td>
        <td><%= demande_v.dernier_contact_deroulement_pg %></td>
        <td><%= demande_v.contact_telephone_enfant_pg %></td>
        <td><%= demande_v.autorisation_accompagnement_pg %></td>
        <td><%= demande_v.personnes_autorisees_pg %></td>
        <td><%= demande_v.attitude_parent_pg %></td>
        <td><%= demande_v.jeux_favoris_pg %></td>
        <td><%= demande_v.gout_alimentaire_pg %></td>
        <td><%= demande_v.enfant_sais_visite_pg %></td>
        <td><%= demande_v.reaction_visite_pg %></td>
        <td><%= demande_v.attitude_enfant_pg %></td>
        <td><%= demande_v.autres_pg %></td>
        <td><%= link_to 'Show', demande_v %></td>
        <td><%= link_to 'Edit', edit_demande_v_path(demande_v) %></td>
        <td><%= link_to 'Destroy', demande_v, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demande vs', new_demande_v_path %>
