<p id="notice"><%= notice %></p>

<p>
  <strong>Motif pv:</strong>
  <%= @demande_v.motif_pv %>
</p>

<p>
  <strong>Motivations pv:</strong>
  <%= @demande_v.motivations_pv %>
</p>

<p>
  <strong>Interdit contact pv:</strong>
  <%= @demande_v.interdit_contact_pv %>
</p>

<p>
  <strong>Date separation pv:</strong>
  <%= @demande_v.date_separation_pv %>
</p>

<p>
  <strong>Contact enfant pv:</strong>
  <%= @demande_v.contact_enfant_pv %>
</p>

<p>
  <strong>Contact telephone enfant pv:</strong>
  <%= @demande_v.contact_telephone_enfant_pv %>
</p>

<p>
  <strong>Attitude parent pv:</strong>
  <%= @demande_v.attitude_parent_pv %>
</p>

<p>
  <strong>Demande:</strong>
  <%= @demande_v.demande_id %>
</p>

<p>
  <strong>Motif pg:</strong>
  <%= @demande_v.motif_pg %>
</p>

<p>
  <strong>Date separation pg:</strong>
  <%= @demande_v.date_separation_pg %>
</p>

<p>
  <strong>Date dernier contact pg:</strong>
  <%= @demande_v.date_dernier_contact_pg %>
</p>

<p>
  <strong>Dernier contact deroulement pg:</strong>
  <%= @demande_v.dernier_contact_deroulement_pg %>
</p>

<p>
  <strong>Contact telephone enfant pg:</strong>
  <%= @demande_v.contact_telephone_enfant_pg %>
</p>

<p>
  <strong>Autorisation accompagnement pg:</strong>
  <%= @demande_v.autorisation_accompagnement_pg %>
</p>

<p>
  <strong>Personnes autorisees pg:</strong>
  <%= @demande_v.personnes_autorisees_pg %>
</p>

<p>
  <strong>Attitude parent pg:</strong>
  <%= @demande_v.attitude_parent_pg %>
</p>

<p>
  <strong>Jeux favoris pg:</strong>
  <%= @demande_v.jeux_favoris_pg %>
</p>

<p>
  <strong>Gout alimentaire pg:</strong>
  <%= @demande_v.gout_alimentaire_pg %>
</p>

<p>
  <strong>Enfant sais visite pg:</strong>
  <%= @demande_v.enfant_sais_visite_pg %>
</p>

<p>
  <strong>Reaction visite pg:</strong>
  <%= @demande_v.reaction_visite_pg %>
</p>

<p>
  <strong>Attitude enfant pg:</strong>
  <%= @demande_v.attitude_enfant_pg %>
</p>

<p>
  <strong>Autres pg:</strong>
  <%= @demande_v.autres_pg %>
</p>

<%= link_to 'Edit', edit_demande_v_path(@demande_v) %> |
<%= link_to 'Back', demande_vs_index_path %>
