<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBE1pI65C_sCNOqcSRhIRM9DzqzzJYbIKQ">
	
</script>

<div class="descriptionRQRSDA">

	<%= simple_form_for(demande, remote: true, format: :json) do |f| %>
	  <% if demande.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(demande.errors.count, "error") %> prohibited this demande from being saved:</h2>

		  <ul>
		  <% demande.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>
	  
	  <%= f.hidden_field :user_id, :value => !current_user.nil?? current_user.id : -1 %>
	  <%= f.hidden_field :statut, :value => "Non complété" %>

	  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

	  <%= f.input :demande_id, :label => "Identifiant" %>

	  <%= f.input :famille_id, :label => "Identifiant de la famille" %>
	  
	  <%= f.input :frequence, :label => "Fréquence" %>
	  
	  <%= f.input :service, :label => "Service" %>
	  
	  <%= f.input :demandeur, :label => "Demandeur" %>
	  
	  <%= f.input :payee_par, :label => "Payée par" %>
	  
	  <%= f.input :transport, :label => "Transport" %>
	  
	  <%= f.input :refere_par, :label => "Référé par" %>
	  
	  <div class="field">
		<%= f.label :motif_id %>
		<select id="demande[motif_id]" name="demande[motif_id]">
			<option value=""></option>
			<% Motif.find_each do |m| %>
				<option value="<%= m.id %>" <%= m.id == @demande.motif_id ? "selected" : "" %>><%= m.nom %></option> <!-- Fuck Rails. -->
			<% end %>
		</select>
	  </div>

	  <div class="actions">
		<%= f.submit "Sauvegarder" %>
	  </div>
	<% end %>

	<%= tag(:input, :type => "hidden", :name => 'demande_id', :value => demande.id) %>

	<% @compteur = "0" %>

	<% if (@gardiens.nil?) || (@visiteurs.nil? && @gardiens.size < 2) || (@gardiens.size + @visiteurs.size < 2) %>
		<% @compteur = (@compteur.to_i + 1).to_s %>

		<%= simple_form_for Parent.new, :namespace => @compteur do |g| %>
		  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

		  <%= g.hidden_field :demande_id, :value => demande.id %>
		  
		  <%= g.input :nom, :label => "Nom" %>

		  <%= g.input :statut %>
		  
		  <%= g.input :date_naissance, :label => "Date de naissance" %>
		  
		  <%= g.input :tarification, :label => "Tarification" %>
		  
		  <%= g.input :no_permis_conduire, :label => "No permis de conduire" %>
		  
		  <%= g.input :no_RAMQ, :label => "No RAMQ" %>
		  
		  <%= g.input :avocat, :label => "Avocat" %>
		  
		  <%= g.input :avocatTelephone, :label => "No téléphone de l'avocat" %>
		  
		  <%= g.simple_fields_for :parentinfos, Parentinfo.new do |f| %>
			  <%= f.input :courriel, :label => "Courriel" %>

			  <%= f.input :telephone_res, :label => "No téléphone résidentiel" %>
			  
			  <%= f.input :telephone_travail, :label => "No téléphone travail" %>
			  
			  <%= f.input :telephone_cell, :label => "No téléphone cellulaire" %>

			  <%= f.input :nocivique, :label => "No civique" %>

			  <%= f.input :rue, :label => "Rue" %>

			  <%= f.input :appartement, :label => "Appartement" %>

			  <%= f.input :ville, :label => "Ville" %>

			  <%= f.input :code_postal, :label => "Code postal" %>

			  <div class="field">
				<input type="button" name="show" value="Rechercher l'adresse" id=<%= @compteur %> />
			  </div>

			  <%= f.input :province, :label => "Province" %>

			  <%= f.input :nom_urgence, :label => "Nom de la personne en cas d'urgence" %>

			  <%= f.input :numero_urgence, :label => "No téléphone de la personne en cas d'urgence" %>

			  <%= f.input :note, :label => "Note" %>
		  <% end %>

		  <div class="actions">
			<%= g.submit "Créer" %>
		  </div>
		<% end %>
	<% end %>
	<br><br>
	<% if (!@gardiens.nil?) || (!@visiteurs.nil?) %>
		<% @parents.each do |parent| %>
			<% @compteur = (@compteur.to_i + 1).to_s %>
			<%= simple_form_for parent, :namespace => @compteur do |g| %>
			  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

			  <%= g.hidden_field :demande_id, :value => demande.id %>
			  
			  <%= g.input :nom, :label => "Nom" %>

			  <%= g.input :statut %>
			  
			  <%= g.input :date_naissance, :label => "Date de naissance" %>
			  
			  <%= g.input :tarification, :label => "Tarification" %>
			  
			  <%= g.input :no_permis_conduire, :label => "No permis de conduire" %>
			  
			  <%= g.input :no_RAMQ, :label => "No RAMQ" %>
			  
			  <%= g.input :avocat, :label => "Avocat" %>
			  
			  <%= g.input :avocatTelephone, :label => "No téléphone de l'avocat" %>

			  <%= g.simple_fields_for :parentinfos, parent.parentinfos.where("created_at = (SELECT MAX(created_at) FROM parentinfos WHERE parent_id = ?)", parent.id) do |f| %>
				  <%= f.input :courriel, :label => "Courriel" %>

				  <%= f.input :telephone_res, :label => "No téléphone résidentiel" %>
				  
				  <%= f.input :telephone_travail, :label => "No téléphone travail" %>
				  
				  <%= f.input :telephone_cell, :label => "No téléphone cellulaire" %>

				  <%= f.input :nocivique, :label => "No civique" %>

				  <%= f.input :rue, :label => "Rue" %>

				  <%= f.input :appartement, :label => "Appartement" %>

				  <%= f.input :ville, :label => "Ville" %>

				  <%= f.input :code_postal, :label => "Code postal" %>

				  <div class="field">
					<input type="button" name="show" value="Rechercher l'adresse" id=<%= @compteur %> />
				  </div>

				  <%= f.input :province, :label => "Province" %>

				  <%= f.input :nom_urgence, :label => "Nom de la personne en cas d'urgence" %>

				  <%= f.input :numero_urgence, :label => "No téléphone de la personne en cas d'urgence" %>

				  <%= f.input :note, :label => "Note" %>
			  <% end %>

			  <div class="actions">
				<%= g.submit "Créer" %>
			  </div>
			<% end %>
		<% end %>
	<% end %>

	<div class='buttonEnfant'>
		<% if !@enfants.nil? %>
			<% @enfants.each do |enfant| %>
				<b>Nom de l'enfant : </b> <%= enfant.nom %> <br>
			<% end %>
		<% end %>
	</div>
	<%= button_to 'Ajouter enfants', new_enfant_path, {class: 'buttonEnfant', method: :get, params: {demande_id: :demande_id} } %>
	
</div>
<div style="clear:both;"></div>

<script type="text/javascript"> 
  $('.new_parent').hide();
  $('.edit_parent').hide();
  function ajaxDemande() {  
      var valuesToSubmit = $(this).serialize();
      var requete = $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: valuesToSubmit,
          dataType: "JSON"
      });
      requete.done(function(json){
          $("#messageH2").text('Réussite');
          $('.new_parent').show();
          $('.edit_parent').show();
          $('.new_demande').hide();
          $('.edit_demande').hide();
          $("[name=demande_id]").val(json.id);
          $("#1_parent_demande_id").val(json.id);
      });
      requete.fail(function(json){
          $("#messageH2").text('Une Erreure est survenue');
      });
      return false;
  }

  function ajaxParent() {  
      var valuesToSubmit = $(this).serialize();
      var requete = $.ajax({
          type: "POST",
          url: $(this + "/").attr('action'),
          data: valuesToSubmit,
          dataType: "JSON"
      });
      requete.done(function(json){
          var requete = $.ajax({
            type: "POST",
            url: '/demandes/addParent/' + $("[name=demande_id]").val(),
            data: {
              parent_id: json.id,
              parent_statut: json.statut,
              demande_id: $("[name=demande_id]").val(),
              authenticity_token: $("[name=authenticity_token]").val(),
            },
            dataType: "JSON"
          });
          requete.done(function(json){
            $("#messageH2").text('Réussite ajout parent');
            $('.buttonEnfant').show();
            $('.new_parent').hide();
            $('.edit_parent').hide();
			location.href = "https://log210-02groupe2.herokuapp.com/users/5/disponibilites"
			
          });
          requete.fail(function(json){
            $("#messageH2").text('Une Erreure est survenue');
          });
      });
      requete.fail(function(json){
          $("#messageH2").text('Une Erreure est survenue');
      });
      return false;
  }
  $(".new_demande").submit(ajaxDemande);
  $(".edit_demande").submit(ajaxDemande);
  $(".new_parent").submit(ajaxParent);
  $(".edit_parent").submit(ajaxParent);
  </script>

  <script>
	$("[name='show']").click(function(){
		var location = $('#' + this.id +'_parent_parentinfos_attributes_0_code_postal').val();
		getAddress(location, this.id);
		});

		function getAddress(location, id){
		geocoder = new google.maps.Geocoder();
		geocoder.geocode( { 'address': location }, function(results, status) {
		if (status == 'OK') {
			var resultat = results[0].formatted_address.split(',');
			var resultat2 = resultat[1].split(' ');

			$('#' + id +'_parent_parentinfos_attributes_0_ville').val(resultat[0]);

			$('#' + id +'_parent_parentinfos_attributes_0_province').val(resultat2[1]);

		} else {

			alert("Le code postal n'existe pas.");
		}
		});
	}
    </script>