<h1>Détails de dossier</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Identifiant:</strong>
  <%= @demande.demande_id %>
</p>

<p>
  <strong>Nom de l'intervenant:</strong>
  <%= !@demande.user.nil?? @demande.user.name : "" %>
</p>

<p>
  <strong>Identifiant de la famille:</strong>
  <%= @demande.famille_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @demande.service %>
</p>

<p>
  <strong>Date de création:</strong>
  <%= @demande.created_at %>
</p>

<p>
  <strong>Fréquence:</strong>
  <%= @demande.frequence %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @demande.statut %>
</p>

<p>
  <strong>Demandeur:</strong>
  <%= @demande.demandeur %>
</p>

<p>
  <strong>Payée par:</strong>
  <%= @demande.payee_par %>
</p>

<p>
  <strong>Référé par:</strong>
  <%= @demande.refere_par %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @demande.transport %>
</p>

<p>
  <strong>Motif:</strong>
  <%= !@demande.motif.nil?? @demande.motif.nom : "" %>
</p>

<p>
  <% if !@gardiens.nil? %>
    <% if !@gardiens.empty? %>
      <% @gardiens.each do |gardien| %>
        <strong>gardien: </strong> <%= gardien.nom %>
		<%= link_to 'Détails', gardien %><br>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <% if !@visiteurs.nil? %>
    <% if !@visiteurs.empty? %>
      <% @visiteurs.each do |visiteur| %>
        <strong>visiteur: </strong> <%= visiteur.nom %>
		<%= link_to 'Détails', visiteur %><br>
      <% end %>
    <% end %>
  <% end %>
</p>
<% if !@visiteurs.nil? %>
  <% if (@gardiens.size + @visiteurs.size) < 2 %>
    <%= button_to "Ajouter un parent", {:controller => "demandes", :action => "addParent", :id => @demande.id} %>
  <% end %>
<% end %>

<p>
  <strong>Enfants:</strong>
  <br>
  <% Enfant.find_each do |e| %>
    <% if e.demande_id == @demande.id %>
	  <%= e.nom %>
	  <%= link_to 'Détails', e %>
	  <br>
    <% end %>
  <% end %>
  <%= button_to "Ajouter un enfant", new_enfant_path, {class: '', method: :get, params: {demande_id: @demande.id} } %> <!-- Yep. -->
</p>

<% if @demande.service == "EG" %>
	<p>
	  <strong>Demandes EG:</strong>
	  <br>
	  <% if current_user.role_id == 0 || current_user.role_id == 1 %>
		<%= button_to 'Ajouter un formulaire', new_demande_eg_path, {class: '', method: :get, params: {demande_id: @demande.id} } %>
	  <% end %>
	  <% @demande.demande_egs.each do |eg| %>
		<%= eg.id %>
		<%= link_to 'Détails', eg %>
		<br>
	  <% end %>
	</p>
<% elsif @demande.service == "VS" %>
	<p>
	  <strong>Demandes VS:</strong>
	  <br>
	  <% if current_user.role_id == 0 || current_user.role_id == 1 %>
		<%= button_to 'Ajouter un formulaire', new_vs_demande_path, {class: '', method: :get, params: {demande_id: @demande.id} } %>
	  <% end %>
	  <% @demande.vs_demandes.each do |vs| %>
		<%= vs.id %>
		<%= link_to 'Détails', vs %>
		<br>
	  <% end %>
	</p>
<% end %>

<%= link_to 'Modifier', edit_demande_path(@demande) %> |
<%= link_to 'Retour à la liste des demandes', demandes_path %>