<h1 class="titleRQRSDA">Création de compte</h1>

<div class="descriptionRQRSDA">
	<% if !@user.nil? %>
	<% @user.errors.each do |attr, msg| %>
		<% puts 'errors ared' + msg.to_s %>
		<li><%= msg %></li>
	<% end %><br />
	<% end %>

    <%= form_for :user, :url => {:controller => "user_management", :action => "new"} do |f| %>

      <div class="field">
        <%= f.label :'Nom' %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :'Rôle' %><br />
		<%= f.select :role_id, options_from_collection_for_select(@roles, "id", "name") %>
      </div>
      <div class="field">
        <%= f.label :'Courriel' %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :'Mot de passe' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :'Confirmation du mot de passe' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sauvegarder" %>
      </div>
    <% end %>
	<%= link_to 'Retour à la liste des comptes', user_management_index_path %>
</div>

